*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #162831;
}

.up{
    position: fixed;
    right: 50px;
    bottom: 100px;
    border: solid 1px black;
    border-radius: 50px;
}
.up:hover{
    background-color: rgb(255, 0, 0);
}

.up:active{
    background-color: greenyellow;
}

header{
    width: 1298px;
    height: 60px;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    /* & img{
        width: 60px;
        height: 60px;
    } */

    & .header_logo{
        width: 60px;
        height: 60px;
        position: relative;

        & .header_logoW{
            position: absolute;
            left: 14px;
            top: 13px;
            transition: all 0.5s;
        }
    }

    & ul{
        display: flex;
        gap: 50px;
        
        & li{
            list-style: none;
    
            & a{
                text-decoration: none;
                color: #FFF;
            }
        }
    }
    & button{
        width: 155px;
        height: 36px;
        padding: 9px;
        background-color: #018ABE;
        font-size: 13px;
        border-radius: 5px;
        color: #FFF;
        transition: all 1s linear;
    }

    & button:hover{
        background-color: red;
        color: black;
    }
}

main{
    margin-top: 50px;
    display: flex;
    flex-direction: column;
    gap: 150px;
    color: #FFF;

    & .index_box1{
        width: 1296px;
        height: 600px;
        margin: auto;
        background-image: url('../img/bg_index_box1.svg');
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;

        & h1{
            text-align: center;
        }
    }

    & .index_box2{
        width: 1296px;
        height: 699px;
        margin: auto;
        display: flex;
        flex-direction: column;
        gap: 100px;

        & h1{
            text-align: center;
        }

        & .index_box2_cont{
            display: flex;
            gap: 24px;

            & .box1{
                width: 416px;
                height: 540px;
                background-image: url('../img/index_box2_1.png');
                display: flex;
                align-items: flex-end;
                
                & p{
                    margin: 50px 50px;
                    font-size: 24px;
                }
            }

            & .box2{
                display: flex;
                flex-direction: column;
                gap: 24px;

                & .box2_1{
                    display: flex;
                    gap: 24px;

                    & .box2_cont{
                        width: 416px;
                        height: 258px;
                        display: flex;
                        align-items: flex-end;
                        background-image: url('../img/index_box2_2.png');

                        & p{
                            width: 336px;
                            margin: 40px 30px;
                            font-size: 24px;
                        }
                    }
                }
            }
        }
    }
}

footer{

    display: flex;
    justify-content: center;

    & .index_ft_box1{
        box-shadow: 0 0 10px white;
    }
}