*{
    margin: 0;
    padding: 0;
}

html,body{
    height: 100%;
    width: 100%;
    background-color: #162831;
}

header{
    width: 1298px;
    height: 60px;
    margin: 30px auto 0 auto;
    display: flex;
    justify-content: space-between;
    align-items: center;

    & img{
        width: 60px;
        height: 60px;
    }

    & ul{
        display: flex;
        gap: 50px;
        
        & li{
            list-style: none;
    
            & a{
                text-decoration: none;
                color: #FFF;
            }
        }
    }
    & button{
        width: 155px;
        height: 36px;
        padding: 9px;
        background-color: #018ABE;
        font-size: 13px;
        border-radius: 5px;
        color: #FFF;
    }
}

main{
    margin-top: 50px;

    & .index_box1{
        width: 1296px;
        height: 600px;
        margin: auto;
        background-image: url('../img/bg_index_box1.svg');
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        gap: 20px;
        color: #FFF;

        & h1{
            text-align: center;
        }
    }


}